.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

/* EMAIL */

.email-main-content {
  height: 100%;
  width: 100svw;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-rows: 1fr;
  /* border: 2px solid purple; */
}

.email-filter-list {
  /* border: 2px solid purple; */
  width: 25svw;
}

.email-index {
  /* border: 2px solid purple; */
  width: 50svw;
}

.email-compose {
  /* border: 2px solid purple; */
  width: 25svw;
}

.email-filter {
  /* border: 2px solid purple; */
}

.categories-container {
  margin-block-start: 40px;
  display: grid;
}

.compose {
  margin-block-start: 50px;
  margin-top: 50px;
  margin-inline-start: 10px;
  border: 1px solid darkgray;
  padding: 20px;
  border-radius: 14%;
  background-color: rgb(204, 223, 250);
  border: none;
  text-decoration: none;
  font-weight: 500;
  transition: 0.1s;
}

.compose:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 0px 5px rgba(0, 0, 0, 0.1);
}

.categories-container button {
  text-align: start;
  padding-left: 30px;
  height: min-content;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
}

.categories-container button:hover {
  background-color: rgb(237, 237, 237);
  font-weight: bold;
}

.logo {
  margin-block-start: 15px;
  margin-block-end: 40px;
  margin-inline-start: 20px;
}

.email-preview {
  display: grid;
  gap: 1px;
}

.email-preview p {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.unread-p {
  font-weight: bold;
}

.new-email-p {
  margin-inline-start: 12px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.email-add-input {
  border: none;
}

.email-add-btn {
  font-weight: bold;
  color: whitesmoke;
  margin-block-start: 10px;
  margin-inline-start: 12px;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(40, 100, 197);
}

.email-add-btn:hover {
  background-color: rgb(46, 112, 218);
}

.new-email-form {
  display: grid;
}

.email {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  /* border: 1px solid rgb(194, 194, 194); */
}

.email:hover {
  outline: 1px solid rgb(98, 98, 98);
}

.email-edit {
  grid-template-columns: 1fr;
  display: grid;
  align-items: start;
  margin-block-start: 100%;
}

.search-input {
  font-size: 1.05rem;
  margin-block-start: 10px;
  margin-block-end: 5px;
  width: 100%;
  border: none;
}

/* KEEP */

.note-index {
  width: 0svw;
}

.keep-main-content {
  height: 90svh;
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  border: 2px solid purple;
}

.note-list {
  padding: 1em;
  overflow: scroll;
  width: 78svw;
  min-height: 5svh;
  height: 80svh;
}

@media (max-width: 1334px) {
  .note-list {
    columns: 2 250px;
  }
}

@media (min-width: 925px) {
  .note-list {
    columns: auto 250px;
  }
}
@media (max-width: 690px) {
  .note-list {
    height: 80svh;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
  }
}

.keep-note {
  position: relative;
  break-inside: avoid;

  text-align: ltr;
  flex: 1 1 238px;
  margin-bottom: 0.5rem;

  padding: 1em;
  max-width: 52svw;
  min-width: 238px;
  height: max-content;
  max-height: 300px;
  border: 2px solid rgba(255, 255, 255, 0.509);
  border-radius: 6px;
}

.keep-note input[type='color'] {
  width: 30px;
  height: 30px;
}

.keep-note h1 {
  background-color: aliceblue;
  font-weight: bold;
}

.keep-note input {
  font-size: 0.5em;
  height: 0.6em;
  width: 100%;
}

.keep-note img {
  min-width: 100%;
  max-height: 8em;
  object-fit: fill;
}

.note-detail-text-area {
  min-height: 10svh;
}

.note-filter input {
  margin-block-end: 2em;
  margin-block-start: 2em;
  margin-inline-start: 8svw;
  width: 40svw;
}

.keep-filter-list {
  margin-block-start: 2.5svh;
  margin-inline-start: 2.5svh;
  gap: 1em;
}

.keep-main-nav {
  display: flex;
  gap: 20px;
  height: 60px;
  border: 2px solid purple;
}

.keep-add-note {
  height: 40px;
  width: 60svw;
  margin: auto;
  border: 2px solid purple;
}

.keep-modal {
  position: absolute;
  right: 20svw;
  left: 20svw;
  top: 200px;
  margin: auto;
  z-index: 200;
  display: flex;
  flex-direction: column;

  background-color: grey;
  color: white;
  border: solid 3px grey;
  border-radius: var(--br-m);
  min-width: 50svw;
  max-width: 600px;
  border-radius: 6px;
}

.keep-modal img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  /* border: 3px solid purple; */
}

.material-symbols-outlined:hover {
  cursor: grab;
}

.pinned-indication {
  cursor: grab;
}
