* {
  font-family: Roboto;
}

.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

/* EMAIL */

.email-main-content {
  height: 100%;
  width: 100svw;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
  grid-template-rows: 1fr;
  /* border: 2px solid purple; */
}

.email-filter-list {
  /* border: 2px solid purple; */
  width: 25svw;
}

.email-index {
  /* border: 2px solid purple; */
  width: 50svw;
}

.email-compose {
  /* border: 2px solid purple; */
  width: 25svw;
}

.email-filter {
  /* border: 2px solid purple; */
}

.categories-container {
  margin-block-start: 40px;
  display: grid;
}

.compose {
  margin-block-start: 50px;
  margin-top: 50px;
  margin-inline-start: 10px;
  border: 1px solid darkgray;
  padding: 20px;
  border-radius: 14%;
  background-color: rgb(204, 223, 250);
  border: none;
  text-decoration: none;
  font-weight: 500;
  transition: 0.1s;
}

.compose:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5), 0 0px 5px rgba(0, 0, 0, 0.1);
}

.categories-container button {
  text-align: start;
  padding-left: 30px;
  height: min-content;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
}

.categories-container button:hover {
  background-color: rgb(237, 237, 237);
  font-weight: bold;

}

.logo {
  margin-block-start: 15px;
  margin-block-end: 40px;
  margin-inline-start: 20px;

}

.email-preview {
  display: grid;
  gap: 1px;
}

.email-preview p {
  margin-block-start: 4px;
  margin-block-end: 4px;
}

.unread-p {
  font-weight: bold;
}

.new-email-p {
  margin-inline-start: 12px;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.email-add-input {

  border: none;
}

.email-add-message {
  resize: none;
  margin-block-start: 3px;
  margin-inline-start: 5px;
  height: 200px;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.email-add-btn {
  font-weight: bold;
  color: whitesmoke;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 12px;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: rgb(40, 100, 197);
}

.email-add-btn:hover {
  background-color: rgb(46, 112, 218);
}

.new-email-form {
  display: grid;
}

.email {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  /* border: 1px solid rgb(194, 194, 194); */
}

.email:hover {
  outline: 1px solid rgb(98, 98, 98);
}

.email-edit-header {
  display: flex;
  justify-content: space-between;
}

.new-email-close-btn {
  margin-inline-end: 25px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.new-email-close-btn:hover {
  color: black;
}

.email-edit {
  border: 1px solid rgb(230, 230, 230);
  grid-template-columns: 1fr;
  display: grid;
  align-items: start;
  margin-block-start: 70%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1), -5px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-input {
  font-size: 1.05rem;
  margin-block-start: 10px;
  margin-block-end: 5px;
  width: 100%;
  border: none;
}

.list-category {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-block-start: 10px;
  margin-block-end: 10px;
}

.starred {
  color: gold;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.email-info {
  display: flex;
  justify-content: space-between;
}


/* KEEP */



.keep-main-nav {
  display: flex;
  gap: 20px;
  height: 60px;
  border: 2px solid purple;
}

.keep-add-note {
  height: 40px;
  width: 60svw;
  margin: auto;
  border: 2px solid purple;

}


.keep-filter-list {
  border: 2px solid purple;
  width: 30svw;
}


.keep-main-content {
  height: 80svh;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  border: 2px solid purple;
}

.keep-note-preview {
  border: 2px solid purple;

  min-height: 5svh;
}

.keep-note-preview>img {
  max-height: 10svh;
}

.keep-note-txt {
  min-height: 5svh;

}

.keep-note-preview {
  border: 2px solid purple;

  min-height: 5svh;
}

.keep-note-preview>img {
  max-height: 10svh;
}

.keep-note-txt {
  min-height: 5svh;
}