.main-layout {
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.keep-main-nav{
  display: flex;
  gap: 20px;
  height: 60px;
  border: 2px solid purple;
}

.keep-add-note{
  height: 40px;
width: 60svw;
margin: auto;
  border: 2px solid purple;
  
}

.keep-filter-list{
  border: 2px solid purple;
  width: 30svw;
}

.keep-main-content{
  height: 80svh;
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  border: 2px solid purple;
}

.note-preview{
  border: 2px solid purple;
  
}